
body {
    font-family: "Montserrat";
    text-align: center;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
  }
  
  p {
    color: #8f8f8f;
  }
  
  /* Headings */
  
  .big-heading {
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
  }
  
  .section-heading {
    font-size: 3rem;
    line-height: 1.5;
  }
  .logo
  {
    width: 300px;
    height: auto;
    position: relative;
    right: 40px;
  }
  /* Container navbar */
  
  .container-fluid>.navbar
  {
    position: relative;
    bottom: 40px;
  }
  
  /* Sections */
  
  .colored-section {
    background-color: #ff4c68;
    color: #fff;
  }
  
  .white-section {
    background-color: #fff;
  }
  /*---------- course --------*/

.course-card
{

  display: flex;
  justify-content: center;
  align-items: center;
  
}
h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
h1{
  font-size: 36px;
  font-weight: 600;
}
p{
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  
}
.course-col{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin:3%;
  padding: 20px 10px;
  box-sizing: border-box;
  transition: .5s;
}
.course-col:hover{
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
@media (width<800px) {
  .course-card
  {
    flex-direction: column;
    
  }
  .course-col
  {
    width: 50%;
  }
}

  /* Navigation Bar */
  .title
  {
    position: relative;
    top:100px;
  }
  
  .navbar {
    padding: 0 0 0rem;
  }
  
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .nav-item {
    padding: 5px ;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
  }
  
  /* Buttons */
  
  .download-button {
    margin: 5% 3% 5% 0;
  }
  
  /* Title Section */
  
  #title,#sub-title {
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/geuHome.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding:  0% 0% 21% 0%;
  }
  #sub-title
  {
    padding: 0 0 1% 0;
  }
  .testimonial-image{
    width: 10%;
    height: 100px;
  }
  #title .container-fluid {
    padding: 0% 3%;
  }
  
 
  #features {
    position: relative;
  }
  
  .feature-title {
    font-size: 1.5rem;
  }
  
  .feature-box {
    padding: 4.5%;
  }
  
  .icon {
    color: #ef8172;
    margin-bottom: 1rem;
  }
  
  .icon:hover {
    color: #ff4c68;
  }
  
  /* CTA Section */
  #cta
  {
    background-image: url(images/ctaimg.jpg);
    background-position: center;
    background-size: cover;
    margin: 100px auto;
    width: 80%;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
  }
  /* carousel */
  .carousel-inner
  {
    width:100%; 
    height: 600px !important;
  }
  @media (width<900px) {
    .carousel-inner
  {height: 300px !important;}
  }
  /* Footer Section */
  
  
  .social-icon {
    margin: 20px 10px;
  }
  
  
  
/* contact us */

.location{
  width: 80%;
  margin: auto;
  padding: 80px 0;
}
.location iframe{
  width: 100%;
}

.contact-us{
  width: 80%;
  margin: auto;
}
.col{
  
  margin-bottom: 30px;
}

.col div{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

 #icon{
  font-size: 28px;
  color: #f44336;
  margin: 10px;
  margin-right: 30px;
}
  
.col div p{
  padding: 0;
  text-align: left;
}
.col div h5{
  font-size: 30px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
  text-align: left;
}
.col input, .col textarea{
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
}

.footer-link{
  text-decoration: none;
  color: #777;
}


/* about us */
.about-us{
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
  display: flex;
}
@media (width<1000px) {
  .about-us
  {
    flex-direction: column;
  }
}
.about-col{
  display: flex;
  flex-direction: column;
  flex-basis: 48%;
  padding: 30px 2px;
}
.about-col h1{
  padding:0 0 0;
  text-align: left;
  font-size:50px;
}
.about-col p{
  padding: 15px 0 25px;
}

.hero-btn.red-btn{
  border: 1px solid #f44336;
  background: transparent;
  color: #f44336;
  padding: 20px;
  width: 200px;
}
.hero-btn.red-btn:hover{
  border: 1px solid #f44336;
  background: #f44336;
  color: #fff;
  transition: .5s ease-in-out;
}
.hero-btn.red-btn::after{
  background: #f44336;
}
.hero-btn.red-btn::before{
  background: #f44336;
}
.content-image{
  flex-basis: 50%;
}
.about-col img{
  width: 100%;
}
/*------- Po Page-----*/



.po-col{
  padding: 30px 2px;
  text-align: center;
}
.po-col h1{
  padding-top: 0;
}
.po-col p{
  padding: 15px 0 25px ;
}
strong
{
  font-weight: bold;
  font-size: large;
}
.list
{
  text-align: left;
}

/* Gallery */

.modal-body>button
{
  display:none;
}
/* img {
  width: 200px;
  height: 200px;
  object-fit: cover;
} */

.owl-nav span
{
  display: none;
}


/* Feedback */
.pagination
{
  position: relative;
  top: -35px;
}
.page-item>a
{
  border:none;
  color: #5782BB;
  background-color: #B9FFF8;
}
@media (width<800px) {
  .page-item>a
{
  width: 95px;
}
}
.page-item>a:hover
{
  background-color: #439A97;
  color: #ADDDD0;
  box-shadow: #439A97 1px  ;
  border:none;
}
.page-item>a:focus
{
  background-color: #E7F6F2;
  color: #368B85;
  box-shadow: #E7F6F2 1px 1px 1px 1px;
  border:none;
}

/* Form */
.form-body
{
  background-color: #439A97;
}
.form 
{
  position: relative;
  background-color:#E7F6F2;
  
}
.embed-responsive
{
  position: relative;
  top: -52px;
}
.sub
{
  background-color: #439A97;
  padding: 10px 20px;
  width: 100%;
  border: none;
  border-radius: 1em;
  color: #fff3f3;
}
.sub:hover
{
  cursor: pointer;
  background-color:#ef8172;
  color:#E7F6F2;
}

/*  notices */

@media (width<800px) {
  
  #pdf-object{
    width: 450px;
  }
}